body {
  background-image:url(../images/bgaboutme.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-color: black;
  background-attachment: fixed;
  background-position: center;
  overflow-y: hidden;
  overflow-x: hidden;
}

.about-me{
  border-radius: 20px;
  width:1000px;
  background-color:rgba(0, 0, 0,0.8);
  color:white;
  margin-top:20px;
}
